.create-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  flex: 1;
  // background-image: url('../../public/background-2.png'); ** moved to ChooseCreateWorkout.scss **

}

.create-workout-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
}

.reps,
.sets,
.weights {
  width: 4em;
}

.create-workout-buttons {
  display: flex;
  justify-content: space-around;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.muscle-group-input {
  text-align: left
}

.select-goal {
  width: 245px
}

.gpt-input-container {
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
}