.create-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  flex: 1;
  // background-image: url('../../public/background-2.png'); ** moved to ChooseCreateWorkout.scss **

}

.create-workout-container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid white;
  border-radius: 1em;
  padding: 1em;
}

.reps,
.sets,
.weights {
  width: 4em;
}

.create-workout-buttons {
  display: flex;
  justify-content: space-around;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.workout-title {
  width: 100%; /* Adjust this value as needed */
}