.top-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  width: 100%;
  background-color: black;
  padding: 2em 7em;
}

.greeting-user {
  font-size: large;
}

.logo-image {
  width: 150%;
  height: auto;
  cursor: pointer;
}