.top-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  width: 100%;
  background-color: black;
  padding: 2em 6em;
}

.greeting-user {
  font-size: large;
}

.logo-image {
  width: 30%;
  cursor: pointer;
}